.page-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 5px;
  height: 0;
  padding-bottom: 75%;
}

.page {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-gap: 12px;

  &__banner {
    background-color: blue;
    font-family: teletekst;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    margin-top: -32px;
    height: 24px;
    font-size: 20px;
    align-self: end;
    text-align: center;
    background-color: red;
  }

  .banner-text {
    text-align: center;

    &--top {
      font-size: 0.6em;
      margin-bottom: 5px;
    }

    &--bottom {
      font-size: 1.2em;
    }
  }

  .link {
    cursor: pointer !important;
  }
}
