.page {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-gap: 12px;

  &__banner {
    background-color: blue;
    font-family: teletekst;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    font-size: 20px;
    align-self: end;
    text-align: center;
    background-color: red;
  }
}
