@import 'base-page';

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  padding: 12px;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

@font-face {
  font-family: teletekst;
  src: url("../assets/fonts/8-bit_pusab.ttf");
}

#app {
  font-family: 'Courier New', 'Courier', 'monospace';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 767px) and (max-width: 992px){
  #app {
    font-size: 22px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1199px){
  #app {
    margin-left: 20%;
    width: 60%;
    font-size: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  #app {
    margin-left: 20%;
    width: 60%;
    font-size: 24px;
  }
}
